<p>Find me in app/views/pages/home.html.erb</p>
<h2>Offering you the best view of the city</h2>
  <div class="img">
   <img target="_blank" src="images/capture.jpg"></img>
   <div class="desc">An amazing coffee shop is making a big difference in the lives of homeless teenage girls.</div>
  </div>
  <div class="img">
    <img target="_blank" src="images/dreamfall.jpg"></img>
    <div class="desc"><strong>Dreamfall: Chapters</strong><p>A female driven romp across the multi-verse gets even better.</p></div>
  </div>
  <div class="img">
    <img target="_blank" src="images/angeladavis.jpg"></img>
    <div class="desc">Join today's big discussion of quotes we love.</div>
  </div>
  <div class="img">
    <img target="_blank" src="images/freaknight.jpg"></img>
   <div class="desc">Your guide to the annual fright fest</div>
  </div>
</body>
</html>